$background-color: rgb(187, 220, 238);
$title-color: rgb(202, 212, 143);
$sizes: 0% 0, 5% 1, 18% 1, 24% 0, 25% 0 true;
$images: '../images/ala-archa.jpg' 0%, '../images/cat.jpg' 25%,
  '../images/nitto-final.jpg' 50%, '../images/virtual-grad.jpg' 75%;

@keyframes fadeInOut {
  @each $image, $add-percantage in $images {
    @each $percentage, $opacity, $no-image in $sizes {
      #{$percentage + $add-percantage} {
        opacity: $opacity;

        @if $no-image == null {
          background-image: url($image);
        }
      }
    }
  }
}

#bio {
  margin: 0% 10%;
  padding: 8% 0 0 0;
  .paragraph-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 3%;
    h1 {
      font-family: FreeMono, monospace;
      color: $title-color;
    }
    h3 {
      color: $title-color;
      margin: 9px 10px 0 10px;
      height: 40px;
    }
  }
  #bio-container {
    background-color: rgb(254, 249, 249);
    border-radius: 20px;

    #my-images {
      float: left;
      height: 300px;
      width: 400px;
      margin: 45px 45px 0;
      border-radius: 300px;
      box-shadow: 5px 5px 3px rgb(206, 205, 205);
      animation: fadeInOut 28s infinite ease-in-out;
    }
    #my-story {
      padding: 45px 45px 50px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.2em;
      text-indent: 50px;
      letter-spacing: 0.2px;
      line-height: 1.7;
      word-spacing: 1px;
      // text-align: justify;
    }
  }
}

@media (max-width: 770px) {
  #bio {
    width: 100%;
    margin: 5em 0%;
    #bio-container {
      width: 95%;
      margin: 0 2.5%;
      #my-images {
        height: 230px;
        width: 300px;
        margin: 30px;
      }
    }
  }
}

@media (max-width: 660px) {
  #bio {
    #bio-container {
      #my-images {
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        width: 90%;
        margin: 5%;
      }
      #my-story {
        font-size: 1.1em;
        text-indent: 30px;
        line-height: 1.4;
        word-spacing: 0.5px;
        text-align: justify;
        padding: 30px 30px 40px;
      }
    }
  }
}
