$background-color: rgb(187, 220, 238);
$title-color: rgb(202, 212, 143);
// $sizes: 0% 0, 5% 1, 19% 1, 23% 0, 25% 0 true;
// $bio-images: '../images/ala-archa.png' 0%, '../images/parade.png' 25%,
//   '../images/buckingham.png' 50%, '../images/virtual-grad.png' 75%;

// @keyframes fadeBioImages {
//   @each $image, $add-percantage in $bio-images {
//     @each $percentage, $opacity, $no-image in $sizes {
//       #{$percentage + $add-percantage} {
//         opacity: $opacity;
//         background-image: url($image);
//       }
//     }
//   }
// }

@keyframes fadeImg {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }

  65% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeImgInfo {
  0% {
    left: -100%;
  }
  5% {
    left: -100%;
  }
  25% {
    left: 0px;
  }
  75% {
    left: 0px;
  }
  100% {
    left: 100%;
  }
}

#bio {
  margin: 10% 10%;
  padding: 100px 0 0 0;
  .paragraph-title {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 3%;
    h1 {
      font-family: FreeMono, monospace;
      color: $title-color;
    }
    h3 {
      color: $title-color;
      margin: 9px 10px 0 10px;
      height: 40px;
    }
  }

  #bio-container {
    background-color: rgb(254, 249, 249);
    border-radius: 20px;
    padding: 45px;
    max-width: 1170px;
    #fade-img {
      float: left;
      display: flex;
      flex-direction: column;
      align-content: space-between;

      height: 300px;
      width: 280px;
      overflow: hidden;
      margin: 0px 45px 0px 0;

      .rotate-images {
        height: 270px;
        width: 270px;
        border: solid 1px rgba(233, 231, 231, 0.9);
        box-shadow: 5px 5px 3px rgb(206, 205, 205);
        animation: fadeImg 6s ease-in-out infinite;
      }
      #img-info {
        position: relative;
        text-align: right;
        font-size: 0.9em;
        padding: 10px 10px 0 0;
        animation: fadeImgInfo 6s ease-in-out infinite;
      }
    }
    // #my-images {
    //   float: left;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   height: 280px;
    //   width: 280px;
    //   margin: 0px 45px 45px 0;
    //   border-radius: 10px;
    //   border: solid 1px rgba(233, 231, 231, 0.9);
    //   box-shadow: 5px 5px 3px rgb(206, 205, 205);
    //   animation: fadeBioImages 28s infinite ease-in-out;
    // }
    #my-story {
      // padding-bottom: px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.4em;
      text-indent: 50px;
      letter-spacing: 0.2px;
      line-height: 1.7;
      word-spacing: 1px;
      div {
        margin-bottom: 20px;
      }
      span {
        font-weight: bold;
      }
    }
    button {
      outline: none;
      border: transparent;
      background-color: transparent;
      color: blue;
      font-size: 0.8em;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (max-width: 660px) {
  #bio {
    width: 95%;
    margin: 0 2.5%;
    #bio-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;

      #fade-img {
        margin: 0 0 20px 0;
      }
      #my-story {
        font-size: 1.3em;
        text-indent: 25px;
        word-spacing: 0.5px;
      }
    }
  }
}
