$nav-background-color: rgba(105, 107, 107, 0.97);
$links-color: rgb(200, 205, 209);
$logo-color: rgb(28, 76, 92);
$logo-shaddow-color: rgb(167, 189, 118);

#nav-bar {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  height: 10%;
  background: linear-gradient(
    to bottom,
    rgb(46, 56, 45) 0%,
    $nav-background-color 100%
  );
  #burger {
    display: none;
  }
  #logo {
    background: linear-gradient(
      to bottom,
      rgba(207, 241, 241, 0.5) 0%,
      rgba(90, 182, 159, 0.5) 80%
    );
    // url('../images/my-logo.jpg');
    text-align: center;
    font-size: 50px;

    font-family: Georgia, serif;
    width: 73px;
    height: 70px;
    padding: 4px 0 0;
    margin: 0em 0em 0em 1em;
    border-radius: 47%;
    float: left;
    border: solid 1px rgb(120, 133, 108);
    color: $logo-color;
    transform: skew(-40deg);
  }
  #divider {
    float: left;
    position: relative;
    left: -2%;
    // margin: 0 0px;
    height: 100%;
    width: 35%;
    border-right: 8px solid rgb(81, 83, 74);

    background-color: rgb(94, 94, 84);

    transform: skew(40deg);
  }
  #nav-links {
    float: right;
    margin: 2.5em 1em;
    button {
      color: $links-color;
      font-family: FreeMono, monospace;
      font-size: 1.1em;
      font-weight: 100;
      background: transparent;
      border: transparent;
      margin: 0em 1em;
    }
    button:hover {
      color: rgb(111, 136, 141);
      cursor: pointer;
    }
    button:focus {
      outline: none;
    }
  }
}
@media (max-width: 1024px) {
}

@media screen and (max-width: 755px) {
  #nav-bar {
    #burger {
      display: block;
      // float: right;
      // margin: 2em;
    }
    #logo {
      font-size: 25px;
      font-family: Georgia, serif;
      width: 35px;
      height: 35px;
      padding: 3.5px;
      margin: 0.5em 0em 0em 1em;
    }
    #nav-links {
      display: none;
    }
  }
}
