$nav-background-color: rgb(40, 43, 49);
$links-color: rgb(227, 248, 225);
$logo-color: rgb(148, 230, 94);
$logo-shaddow-color: rgb(167, 189, 118);

#nav-bar {
  overflow: hidden;
  position: fixed;
  align-content: center;
  width: 100%;
  top: 0;
  height: 10%;
  background-color: $nav-background-color;
  #burger {
    display: none;
  }
  #logo {
    margin: 1em 0em 0em 3em;
    float: left;
    color: $logo-color;
    font-family: Snell Roundhand, cursive;
    font-size: calc(10px + 2vmin);
    font-weight: 500;
    text-shadow: 1px 1px 2px $logo-shaddow-color;
  }
  #nav-links {
    float: right;

    margin: 3em 1em;
    button {
      color: $links-color;
      margin: 0em 1em;
    }
  }
}
@media (max-width: 1024px) {
}

@media screen and (max-width: 755px) {
  #nav-bar {
    #burger {
      display: block;
      float: right;
      margin: 2em;
    }
    #logo {
      margin: 1em 0em 2em 4em;
      font-size: calc(15px + 2vmin);
    }
    #nav-links {
      display: none;
    }
  }
}
