$background-color: rgb(187, 220, 238);
$title-color: rgb(202, 212, 143);
$sizes: 0% 0, 5% 1, 18% 1, 24% 0, 25% 0 true;
$images: '../images/gym.jpg' 0%, '../images/centre-court.jpg' 25%,
  '../images/nitto-final.jpg' 50%, '../images/homemade-sausage.jpg' 75%;

@keyframes fadeInOut {
  @each $image, $add-percantage in $images {
    @each $percentage, $opacity, $no-image in $sizes {
      #{$percentage + $add-percantage} {
        opacity: $opacity;
        @if $no-image == null {
          background-image: url($image);
        }
      }
    }
  }
}

#hobby {
  margin: 10% 10%;
  padding: 100px 0 8% 0;

  .paragraph-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 0 0 3%;
    h1 {
      font-family: FreeMono, monospace;
      color: $title-color;
    }
    h3 {
      color: $title-color;
      font-size: 20px;
      margin: 5px 10px;
    }
  }
  #hobby-container {
    background-color: rgb(254, 249, 249);
    border-radius: 20px;

    #hobby-images {
      float: left;
      background-size: cover;
      background-repeat: no-repeat;
      height: 340px;
      width: 300px;
      margin: 45px 45px 35px;
      border-radius: 10px;
      border: solid 1px rgba(233, 231, 231, 0.9);
      box-shadow: 5px 5px 3px rgb(206, 205, 205);
      animation: fadeInOut 36s infinite ease-in-out;
    }
    #hobby-story {
      padding: 45px 45px 50px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.3em;
      text-indent: 50px;
      letter-spacing: 0.2px;
      line-height: 1.7;
      word-spacing: 1px;
      div {
        margin-bottom: 20px;
      }
      span {
        font-weight: bold;
      }
    }
    button {
      outline: none;
      border: transparent;
      background-color: transparent;
      color: blue;
      font-size: 0.8em;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media (max-width: 660px) {
  #hobby {
    margin-bottom: 30%;
    padding-bottom: 10%;
    width: 95%;
    margin: 0 2.5%;
    #hobby-container {
      #hobby-images {
        height: 170px;
        width: 150px;
        margin: 30px 30px 10px;
        border-radius: 5px;
      }
      #hobby-story {
        font-size: 1.3em;
        text-indent: 25px;
        line-height: 1.4;
        word-spacing: 0.5px;
        padding: 30px 30px 40px;
      }
    }
  }
}
@media (max-width: 360px) {
  #hobby {
    #hobby-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
