#home {
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(250, 252, 252, 0.35),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(219, 213, 213, 0.4)
    ),
    url('../images/home-page.jpg');
  margin: 0% 10%;
  font-size: 1.6em;
  font-weight: 100;
  font-family: Andale Mono, monospace;
  letter-spacing: 0.3px;
  line-height: 2;
  word-spacing: 1px;
  color: rgb(226, 228, 222);
  text-align: center;
  h2 {
    font-size: 1.8em;
    margin: 12% 0 0;
    font-weight: 100;
  }
}

@media (min-width: 1170px) {
}

@media (max-width: 660px) {
  #home {
    width: 100%;
    height: 350px;
    margin: 2em 0;
    // padding: 0 0;
    #bio-container {
      width: 100%;
      margin: 0 5%;
    }
  }
}
