.home {
  // margin: 0 0 20%;
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: top center;
  background-position-x: 50%;
  background-position-y: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(250, 252, 252, 0.35),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(219, 213, 213, 0.4)
    ),
    url('../images/home-page.jpg');

  font-weight: 100;
  font-family: Andale Mono, monospace;
  letter-spacing: 0.3px;
  word-spacing: 1px;
  color: rgb(226, 228, 222);
  text-align: center;
  h1 {
    margin: 120px 0 2% 0;
    font-weight: 100;
  }
  h6 {
    margin: 1% 0 3% 0;
  }
  .Typewriter {
    font-size: 1.3em;
  }
}

@media (max-width: 770px) {
  #home {
    // height: 370px;
    font-size: 1em;
  }
  .home {
    h1 {
      // margin:  0 10% 0;
      font-weight: bold;
    }
    h6 {
      margin: 1% 5% 10% 5%;
    }
    .Typewriter {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 350px) {
  .home {
    h1 {
      margin: 80px 0 10% 0;
      font-size: 1.4em;
      font-weight: 500;
    }
    h3 {
      font-size: 0.9em;
      margin: 0 5% 3%;
    }
    .Typewriter {
      font-size: 1.1em;
    }
  }
}
