#home {
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(250, 252, 252, 0.35),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(219, 213, 213, 0.4)
    ),
    url('../images/home-page.jpg');
  margin: 0% 10%;
  // font-size: 1.5em;
  font-weight: 100;
  font-family: Andale Mono, monospace;
  letter-spacing: 0.3px;
  line-height: 1.5;
  word-spacing: 1px;
  color: rgb(226, 228, 222);
  text-align: center;
  h2 {
    // font-size: 1.8em;
    margin: 11% 0 0 0;
    font-weight: 100;
  }
  h6 {
    // font-size: 1em;
    margin: 0 0 4% 0;
  }
  .Typewriter {
    font-size: 1.3em;
  }
}

@media (max-width: 1025px) {
  #home {
    margin: 10%;
    height: 500px;
    font-size: 1em;
  }
}
@media (max-width: 770px) {
  #home {
    height: 370px;
    font-size: 1em;
  }
}

@media (max-width: 650px) {
  #home {
    width: 100%;
    height: 270px;
    margin: 5em 0;
    font-size: 0.6em;
    h6 {
      font-size: 7px;
    }
  }
}
@media (max-width: 350px) {
  #home {
    height: 225px;
    margin: 3em 0;
  }
}
