#home {
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(250, 252, 252, 0.35),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(19, 16, 16, 0),
      rgba(219, 213, 213, 0.4)
    ),
    url('../images/home-page.jpg');
  margin: 0% 10%;
  font-size: 1.9em;
  font-weight: 100;
  //   font-family: Andale Mono, monospace;
  font-family: Comic Sans MS, Comic Sans, sans-serif;
  color: rgb(226, 228, 222);
  text-align: center;
  h2 {
    margin: 12% 0 4%;
    font-weight: 100;
  }
}

@media (min-width: 1170px) {
}

@media (max-width: 660px) {
  #home {
    width: 100%;
    height: 350px;
    margin: 2em 0;
    // padding: 0 0;
    #bio-container {
      width: 90%;
      margin: 0 5%;
      #my-images {
        height: 250px;
        width: 90%;
        margin: 30px;
      }
      #my-story {
        padding: 30px 30px 40px;
      }
    }
  }
}
